@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Typography */

body{
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 1px;
    color:hsl(0, 0%, 95%)
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-size: .75rem;
    color: hsla(0, 0%, 100%, 0.75)
}

/* Styling */
main{
    display: flex;
    min-height: 95vh;
    justify-content: center;
    align-content: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    place-items: center;
    margin: 0 auto;
}

.grid-item{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
}


.first-item{
    background-color: hsl(31, 77%, 52%);
}

.second-item{
    background-color: hsl(184, 100%, 22%);
}

.third-item{
    background-color: hsl(179, 100%, 13%);
}



/* Buttons */

button{
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    border-radius: 25px;
    border: 1px solid white;
}


.first-item button{
    color:hsl(31, 77%, 52%);
}

.second-item button{
    color:hsl(184, 100%, 22%)
}

.third-item button{
    color: hsl(179, 100%, 13%);
}


/* Mobile */

@media (min-width: 300px) and (max-width: 600px) {
    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        width: auto;
    }
    .grid-item{
        height: 60vh;
        width: 63%;
    }
}